<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>檔案上傳</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input type="file" @change="fileSelected" />
        <br/><br/>
        <img v-if="image" :src="image" width="200" />
        <br/><br/>
        <button v-if="image" @click="upload">Upload</button>
    </div>
    
    <script>
        new Vue({
            el:'#app',
            data:{
                image: '',
                file: null,
            },
            methods: {
                fileSelected(evt){
                    this.file = evt.target.files.item(0);
                    //console.log(this.file);
                    const reader = new FileReader();
                    reader.addEventListener('load', this.imgLoaded);
                    reader.readAsDataURL(this.file);
                },
                imgLoaded(evt){
                    this.image = evt.target.result;
                },
                upload(){
                    const form = new FormData();
                    form.append(this.file, this.file.name);
                    axios.post('/upload', form);
                    //axios.post('/post',{image: this.image});
                },
            },
        });
    </script>
</body>
</html>